<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>
<body>
    blog page 
    <script>
        let postObj = {};
        const postId = "<%= postId %>";
        const enableGraphql = <%= enableGraphql %>
        if (enableGraphql) {
            const query = `query {post(id:"${postId}") {title body user{name email}comments {body user {_id name email}} }}`
            const queryString = JSON.stringify({
                "query": query
            });
            $.ajax({
                    method: "POST",
                    url: "/graphql",
                    contentType: 'application/json',
                    data: queryString,
                    success: function (data) {
                        postObj = data.data.post;
                    }
                });
        } else {
            $.ajax({
                method: "GET",
                url: `/api/post?postId=${postId}`,
                success: function(data) {
                    postObj.title = data.title;
                    postObj.body = data.body;
                    const userId = data.uid;
                    $.ajax({
                        method: "GET",
                        url: `/api/user?userId=${userId}`,
                        success: function(data) {
                            postObj.name = data.name;
                            postObj.email = data.email;
                        }
                    });
                }
            });

            $.ajax({
                method: "GET",
                url: `/api/postComments?postId=${postId}`,
                success: function(data) {
                    const comments = []
                    $.each( data, function( key, value ) {
                        let user = {};
                        $.ajax({
                            method: "GET",
                            url: `/api/user?userId=${value.uid}`,
                            success: function(data) {
                                user.name = data.name;
                                user.email = data.email;
                            }
                        });
                        comments[key] = {body: value.body};
                        comments[key] = {body: value.body, user:user};
                    });
                    postObj.comments = comments;
                }
            });
        }
        
        
        
    </script>
</body>
</html>