<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
</head>
<body>
    blog page 
    <script>
        var postObj = {};
        var postId = "<%= postId %>";
        $.ajax({
            method: "GET",
            url: "/api/getPost?id=" + postId,
            success: function(data) {
                postObj.title = data.title;
                postObj.body = data.body;
                var userId = data.uid;
                $.ajax({
                    method: "GET",
                    url: "/api/getUser?id=" + userId,
                    success: function(data) {
                        postObj.name = data.name;
                        postObj.email = data.email;
                    }
                });
            }
        });

        $.ajax({
            method: "POST",
            url: "/api/getComments/",
            data: {postId: postId},
            success: function(data) {
                var comments = []
                $.each( data, function( key, value ) {
                    let user = {};
                    $.ajax({
                        method: "GET",
                        url: "/api/getUser?id=" + value.uid,
                        success: function(data) {
                            user.name = data.name;
                            user.email = data.email;
                        }
                    });
                    comments[key] = {body: value.body};
                    comments[key] = {body: value.body, user:user};
                });
                postObj.comments = comments;
            }
        });
        // var query = JSON.stringify({
        //     "query": "query {post(id: \"5ab2b46d941953bf614e2617\") {title body user{name email}comments {body user {_id name email}} }}"

        // });
        // console.log(query);
        // $.ajax({
        //         method: "POST",
        //         url: "/graphql",
        //         contentType: 'application/json',
        //         data: query,
        //         success: function (data) {
                    
                    
        //         }
        //     });
        
    </script>
</body>
</html>